:root{
    --main-color: #dd2f6e;
    --color-dark: #1d2231;
    --text-gray: #8390a2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: poppins;
}

.sidebar{
    width: 350px;
    position: fixed;
    height: 100%;
    background: var(--main-color);
    left: 0;
    top: 0;
    z-index: 100;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem  0rem 1rem 2rem;
    color: #fff;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-bottom: 1rem;

}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .5);
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.brand-text{
    font-family: poppins;
}
.main-content{
    margin-left: 350px;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    /* position: fixed; */
    left: 345px;
    width: calc(100% -345px);
    top: 0;
    z-index: 100;
}
header h2{
    color: #222;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;

}
.search-weapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-weapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-weapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-gray);
}
main{
    margin-top: 1px;
    padding: 2rem 1rem;
    min-height: calc(100vh -90px);
    background: #f1f5f9;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}
.card-single .card-text{
    font-size: 1rem;
    color: var(--text-gray)

}   
.card-single .card-icon{
    font-size: 2rem;
    color: var(--main-color);
}
.card-single:last-child {
    background: var(--main-color);
}

.card-single .card-icon-alt {
    color: white;
}
.card-single .card-text-alt{
    color: white;
}
.card-single .card-head-alt{
    color: white;
}
.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}
.card{
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}
.card-header{
    padding: 1rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}
table{
    border-collapse: collapse;
}
thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}
thead td{
    font-weight: 700;
}
td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}
tr td:last-child{
    display: flex;
    align-items: center;
}
td .status{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
    
}
.status.purple{
    background: rebeccapurple;
}
.status.pink{
    background: deeppink;
}
.status.orange{
    background: orangered;
}
