
body{
    margin: 0;
    padding: 0;
    background: url(./bodybg.jpg);
    background-size: cover;
    font-family: poppins;
}

.title{
    text-align: center;
    padding: 50px 0 20px;
}

.title h1{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;

}
.container{
    width: 50%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.container .left{
    float: left;
    width: 50%;
    height: 400px;
    background: url(./left1.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.container .right{
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.formbox{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}
.formbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}

.formbox input{
    width: 100%;
    margin-bottom: 20px;
}
.formbox input[type="text"],
.formbox input[type="password"]{
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 40px;
}
.formbox input[type="text"]:focus,
.formbox input[type="password"]:focus{
    border-bottom: 2px solid #262626;
}

.formbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
    cursor: pointer;
    font-size: 1.2em;
}
.formbox input[type="submit"]:hover{
    background: #a6af13;
}
.formbox a{
    text-decoration: none;
    color: #a6af13;
}
.formbox a:hover{
    text-decoration: none;
    color: #262626;
}